@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout {
  background: #f3f4f6 !important;
}
body {
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif !important;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --primary-color: #003366;
}

input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}

.primary-color {
  color: var(--primary-color);
}

.bg-primary-color {
  background-color: var(--primary-color);
}

.ant-menu-item-selected {
  background-color: white !important;
  color: black !important;
}

.ant-menu-item-selected a {
  color: black !important;
}

.ant-menu-item:not(:last-child) {
  margin-bottom: 10px;
}
